* {
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 100%;
}

header {
  height: 10rem;
  padding: 3rem;
  background-color: rgb(79, 161, 201);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

nav a {
  color: rgb(161, 201, 79);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-size: 5rem;
}

h2 {
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

h3 {
  border-style: dotted;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgb(161, 201, 79);
  color: rgb(161, 201, 79);
  padding: 5px;
  font-size: 24px;
  text-align: center;
}

main {
  width: 60%;
  margin-bottom: 10px;
}

aside {
  width: 33%;
  background-color: rgb(161, 201, 79, .50);
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 2%;
  margin-bottom: 20px;
}

nav ul li {
  float: left;
  list-style: none;
}

section {
  clear: both;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  clear: both;
  color: white;
  background-color: rgb(79, 161, 201);
  height: 100px;
}

p {
  margin-bottom: 5px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.display-text {
  font-family: 'Rokkitt', serif;
}
.white-text {
  color: white
}

.blue-text {
  color: rgb(0, 183, 213)
}

.gray-text {
  color: rgba(0, 0, 0, .3);
  font-style: italic;
  font-size: 8pt
}

.float {
  float: left;
}

img {
  height: 200px;
  border-style: solid;
  border-color: rgb(161, 201, 79);
  border-width: 4px
}

a:hover {
  text-decoration: underline;
}

.title-size {
  font-size: 4rem;
  font-family: 'Rokkitt', serif;
}
